<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/ee0719de-f84e-4dc6-bf55-2e05870a0785/resourceGroups/AlpineSkiHouse20221230141840ResourceGroup/providers/Microsoft.ContainerRegistry/registries/zombieShooter20221231164631</ResourceId>
    <ResourceName>zombieShooter20221231164631</ResourceName>
    <ResourceGroup>AlpineSkiHouse20221230141840ResourceGroup</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://zombieshooter20221231164631.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>